.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile form input{
    padding: 30px 5px;
}

.profile form input::placeholder{
    text-align: center;
}

.profile .post{
    width: 400px;
    padding: 0 5px;
}

.profile .post div{
    display: flex;
    justify-content: space-between;
}

.delete-post{
    cursor: pointer;
}